z/
ref.jpeg
my/
.idea/
.env
node_modules/
dist/
.vscode/
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.cache
*.pid
*.orig
*.swo
*.swm
package-lock.json
package.json
yarn.lock
pnpm-lock.yaml
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
